<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bransjekartlegging - Brønnøysundregistrene</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui-1.13.1.custom/jquery-ui.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    

</head>
<body>
<header>
    <div class="container">
        <div id="logo"></div>
        <h1 class="title">
            Bransjekartlegging
        </h1>
        <h2>
            Dette er en demonstrasjon som gir en enkel oversikt over hvilke virksomheter som finnes innenfor ulike næringer i ulike kommuner. Løsningen benytter API-er hos Brønnøysundregistrene, Statistisk sentralbyrå og Kartverket.
        </h2>
    </div>
</header>
<div class="container top-container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container text-center mt-2 pt-1">
        &copy; 2022 - Brønnøysundregistrene
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery-ui-1.13.1.custom/jquery-ui.min.js"></script>
<script src="~/lib/jquery-tablesort/jquery.tablesort.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
