@page
@model IndexModel
@{
    ViewData["Title"] = "Home offsetPage";
}

<section id="form">
    <div class="container">
        <div class="row mb-2">
            <div class="col-12 col-md-6 industry-codes">
                <label for="industry-codes">Velg bransjekoder:</label>
                <div class="ui-widget">
                    <input id="industry-codes" class="search-field" placeholder='Søkeord, f.eks. "snekker"'>
                </div>
            </div>
            <div class="col-12 col-md-6 municipalities">
                <label for="municipalities">Velg kommuner:</label>
                <div class="ui-widget">
                    <input id="municipalities" class="search-field"placeholder='Søkeord, f.eks. "Brønnøy"'>
                </div>
            </div>
        </div>
        <div class="row selected-terms">
            <div class="col-12 col-md-6 industry-codes">
                <div id="selected-industry-codes" class></div>
            </div>
            <div class="col-12 col-md-6 municipalities">
                <div id="selected-municipalities"></div>
            </div>
        </div>
        <div class="row">
            <div class="col search-btn-container">
                <button id="performSearch">Søk etter firma</button>
                @Html.AntiForgeryToken()
            </div>
        </div>
    </div>
</section>


<section id="results"></section>
<div id="spinner" hidden>

    <div class="text-center">
        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </div>

</div>
