@page
@model IndexModel
@{
    ViewData["Title"] = "Home offsetPage";
}
<section id="form">
    <div class="container">
        <div class="row mb-2">
            
            @if (User.Identity.IsAuthenticated) 
            {
                <div class="industry-codes">
                    <label for="industry-codes">Organisasjonsnummer</label>
                    <input id="industry-codes" class="search-field" value="984413793">
                    <button id="performSearch">Hent firmaopplysninger</button>
                    @Html.AntiForgeryToken()
                </div>   

            } else
            {
                <div class="industry-codes">
                    <a href="./authenticate">Logg inn for å søke!</a>
                </div>
            }
            </div>
        </div>
</section>


<section id="results"></section>
<div id="spinner" hidden>

    <div class="text-center">
        <div class="lds-ellipsis"><div></div><div></div><div>   </div><div></div></div>
    </div>

</div>
